.MyBooking {
    text-align: center;
    color: #fff; /* Set text color to white */
    background-color: #030318; /* Set background color to dark */
  }
  
  .MyBooking h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  
  .MyBooking h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  
  .MyBooking ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .MyBooking li {
    width: 300px;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #0f0e0e; /* Set background color to dark */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .MyBooking li:hover {
    transform: translateY(-5px);
  }
  
  .MyBooking h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .MyBooking img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 0.5rem;
  }
  
  .MyBooking p {
    margin-bottom: 0.5rem;
  }
  
  @media (max-width: 768px) {
    .MyBooking li {
      width: 100%;
    }
  }
  